<br>
<br>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label for="name">
        <h5>User: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
    </label>
        <input type="text" id="name" formControlName="name">
   
<br>
    <label for="alias">
        <h5>Alias: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
    </label>
        <input type="text" id="alias" formControlName="alias">
    
<br>
    <label>
        <h5>Password: &nbsp; &nbsp; &nbsp;</h5>
    </label>
        <input type="password" formControlName="password">
    
<br>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
</form>